
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background: url('images/fundo.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	overflow-x: hidden;
	font-family: 'Roboto',sans-serif;
	color: #FFFFFF;
}

/* Menu de Navegação */
.margem {
	width: 100%;
	height: 55px;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 5%;
}

.logo {
	position: absolute;
	width: 	251px;
	height: 72px;
	left: 	60px;
	top: 	-10px;
}

/* Cabeçalho da página */
.cabecalho {
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	/* or 117% */
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #6DF42E;	
}

.informacao {
	font-weight: bold;
	font-size: 	48px;
	line-height:50px;
	/* or 117% */
}

.texto {
	font-size: 	18px;
	line-height:28px;
	/* or 156% */
}

/* Botão do Sympla */
.button-small-text {
	position: absolute;
	left: 	979px;
	top: 	-300px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Imagem com fotos dos convidados */
.fotos {
	text-align: center;
}

.fotos img {
	width: 80%;
}

/* Layout do contador */
.countdown {
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.25);
	width: 100vw;
	margin-left: -13%;
	margin-top: 3%;
	padding: 1em;
}

.time {
	margin-left: 30px;
	margin-right: 30px;
	font-size: 1.2em;
	text-align: center;
}

.time h2 {
	font-size: 3em;
}

/* Contador responsivo */
@media only screen and (max-width: 550px) {
	.time {
		margin-left: 1em;
		margin-right: 1em;
		font-size: 1.2em;
		text-align: center;
	}

}